@font-face {font-family: "NeonBuglerSquaredW00-Rg";
	src: url("http://db.onlinewebfonts.com/t/f4b6b6fe2e3a4273d76ad93782b5c0aa.eot");
	src: url("http://db.onlinewebfonts.com/t/f4b6b6fe2e3a4273d76ad93782b5c0aa.eot?#iefix") format("embedded-opentype"),
	url("http://db.onlinewebfonts.com/t/f4b6b6fe2e3a4273d76ad93782b5c0aa.woff2") format("woff2"),
	url("http://db.onlinewebfonts.com/t/f4b6b6fe2e3a4273d76ad93782b5c0aa.woff") format("woff"),
	url("http://db.onlinewebfonts.com/t/f4b6b6fe2e3a4273d76ad93782b5c0aa.ttf") format("truetype"),
	url("http://db.onlinewebfonts.com/t/f4b6b6fe2e3a4273d76ad93782b5c0aa.svg#NeonBuglerSquaredW00-Rg") format("svg");
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: NeonBuglerSquaredW00-Rg;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* OUR CSS */
body {
	padding:0;
	margin:0;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	background-color: black;
}




/* SURROUNDING DIV */
#playField {
	width: 100vw;
	height:100vh;
	padding:0;
	margin:0;
	margin-top: 5pt;
	max-width:100%;
	max-height: 100%;
	text-align: center;
	display:none;
	font-family: NeonBuglerSquaredW00-Rg;
}


/* CANVAS */
#field {
	background-color: black;
	padding:0;
	margin:0;
	margin-left: 2%;
	margin-right: 2%;
	width:96%;
	height:90%;

	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,209,224,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,209,224,1);
	box-shadow: 0px 0px 10px 3px rgba(0,209,224,1);

	/*border-left: Black solid 2px;
	border-right: Black solid 2px;*/
	overflow: hidden;
}

#buttons {
	padding:0;
	margin:0;
}

/* BUTTONS-CLASS */
.button {
	font-size: 20pt;
	margin-left: 2%;
	margin-top:10pt;
	width:48%;
	height:100%;
	text-align:center;
	float:left;


	cursor: default;
	color: rgba(0, 0, 0, 0);
}

#leftButton {
	margin-left: 2%;
	border-right: dashed 1px white;
	background: url("./images/left.png") center no-repeat;
	background-size: contain;
}

#rightButton {
	background: url("./images/right.png") center no-repeat;
	background-size: contain;
	width:47%;
}

#readyUpButton {
	width:100vw;
	height:100vh;
	float:left;
	background-color: red;
	text-align: center;


	display:none;
}


body{
	overflow: hidden;
}


.balk{
	min-height: 5px;
	position: relative;
	background: url('./images/neon_line_green.png') center;
	background-size: cover;
}


#ball{
	position: relative;
	background: red;
	background-size: cover;
}

#player1{
	float: left;
}

#player2{
	float: left;
}

#score{
	font-size: 20pt;
	margin: 0 auto;
	color: white;
}

#spectators{
	color: white;
	font-size: 14pt;
	position: fixed;
	font-family: NeonBuglerSquaredW00-Rg;
}

#choices{
	text-align:center;
	line-height: 50vh;
	font-size: 2em;
}

#readyUpButton{
	text-align:center;
	line-height: 100vh;
	font-size: 2em;
}